h2{
    color: red;
}

.navActu{
    margin-left:125px;
    margin-top: 200px;
    
    
}
ul{
    margin:10px;
    text-align: left;
}

li{
    padding: 7px;
    color: grey;
    text-align: left;
    list-style: none;
}